#caja-1{
    background: #93B5C9;
    height: 200px;
    width: 2015px;
    border: none
}

#caja-2{
    background: #AB2849;
    
    height: 330px;
    width: 2015px;
    border: none
}

#caja-3{
    background: #AB2849;
    margin: 34px 3500px 0px 0px;
    height: 240px;
    width: 1511px;
    border: none

}

#caja-4{
    background: #AB2849;
    margin: 35px 350px 0px 0px;
    height: 240px;
    width: 1511px;
    border: none
}

#caja-5{
    background: #AB2849;
    margin: 35px 350px 0px 0px;
    height: 240px;
    width: 1511px;
    border: none
}

#caja-6{
    background: #AB2849;
    margin: 35px 350px 0px 0px;
    height: 240px;
    width: 1511px;
    border: none
}

#caja-7{
    background: #AB2849;
    margin: 35px 0px 0px 50px;
    height: 180px;
    width: 1955px;
    border: none
}